/* colors  */
:root 
{
          --primary-color:         #00171F;     
          --secondary-color:    #222A68;
          --bg-color:      #ffffff;
          --font-color:            #072833; 
          --heading-color:    rgb(48, 108, 133);

          --bg-color-dark:rgb(29, 26, 26);
          --text-dark: hsl(215, 43%, 87%);
          --text-light: hsl(255, 36%, 17%);

                           }
       /* style for dark mode */
      [data-scheme="dark"]{
            --backgroud-color:var(--bg-color-dark);
            --text:var(var(--text-dark))
           
          }
          
      [data-scheme="light"] {
            --background-color:var(--bg-color) ;
            --text:var(var(var(--text-light)))
          }


          /* styling setting */
          .theme-toggle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
            display: grid;
            place-items: center;
          }
          
          .theme-toggle:is(:hover, :focus){
            opacity: .8;
          }
          #currentDateTime{
            font-size:15px;
            color:var(--primary-color);
            display: grid;
            place-items: center;
          }

         body {
          background-color: var(--bg-color);
          color:var(--bg-color-dark);
          margin: 0;
          font-family: monospace;
          place-items: center;
          place-content: center;
          grid-gap:2em;
         }
      #icon{
            display: flex;
            width:30px;
            cursor: pointer;
      }                  
        
                           
                  
                           
    
                   
         nav ul {
                  color: var(--bg-color-dark);
                  display: flex;
                  justify-content: center;
                  padding: 0;
         }
                           
         nav li {
                color: var(--bg-color-dark);
                margin: 0 20px; 
                           }
                           
         nav a {
                text-decoration: none;
                color: var(--c-violet);
         }
                           
         nav a:hover {
                 color: var(--c-orange);
         }
                           
         atricle {
          display:flex;
         }
         article > section {
            flex:1;
         }
         
         .related-links {
           flex-basis: 30%;
           padding-left:20px;
         
         }
         .main-content{
              overflow:hidden;
         }
         article {
               float:center;
               width:60%
         }
         aside {
               float:right;
               width:30%
         }
    
         article h2,
         article h3{
                padding-top: 50px;               
         }
         
         .foot {
               display: flex;
               background-color: var(--bg-color);
               flex-direction: column;
               float: left;
               color: var(--bg-color-dark);
               
               
                             
         }
         
       
         
                           