/* colors  */
:root 
{
          --primary-color:         #00171F;     
          --secondary-color:    #222A68;
          --bg-color:      #ffffff;
          --font-color:            #072833; 
          --heading-color:    rgb(48, 108, 133);
          --c-orange:orange;
          --bg-color-dark:rgb(29, 26, 26);
          --text-dark: hsl(215, 43%, 87%);
          

                           }
       /* style for dark mode */
       [data-scheme="dark"] {
        --background-color: var(--bg-color-dark);
        --text-color: var(--text-dark);
      }
      /* style for light mode */
      [data-scheme="light"] {
        --background-color: var(--bg-color);
        --text-color: var(--primary-color);
      }
      


        /* styling setting */
       .theme-toggle {
        background-color: var(--text);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        display: grid;
        place-items: center;
        position: fixed; /* Add this line to position the button */
        top: 100px; 
        right: 70px; 
        z-index: 9999; 
          }
          
      .theme-toggle:is(:hover, :focus){
        opacity: .8;
        }
      #currentDateTime{
        font-size:15px;
        color:var(--primary-color);
        display: grid;
        place-items: center;
        }
      
          
      body {
        background-color: var(--background-color);
        color:var(--text-color);
        margin: 40;
        padding-top:100px;
        display:flex;
        justify-content: center;
        align-items:center;
        font-family: monospace;
        font-size:16px;
           
        }

      #icon{
        display: flex;
        width:30px;
        cursor: pointer;
      }                  
       /* Display the suitable navgation  */     
      nav {
        background-color: var(--bg-color);
        color: var(--bg-color-dark);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px;
        z-index: 9999;
      }
      
      nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
      }
      
      nav li {
        margin: 0 20px;
      }
      
      nav a {
        text-decoration: none;
        color: var(--heading-color);
      }
      
      nav a:hover {
        color: var(--c-orange);
      }
                  
      header h1 {
        font-size:24px;
        font-weight: bold;
        color:var(--heading-color);
      }
      
      header h2 {
        font-size: 14px;
        font-weight: bold;
        color:var(--heading-color);
      }
       /* Set the desired atricle size */   
      p {
        font-size: 16px; 
      }                  
         
      article {
        margin: 0 auto;
        width: 60%;
      }
      
      article h2,
      article h3{
        color:var(--heading-color);
        padding-top: 50px;               
      }
       /* Set the desired images position and size  */   
      .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
      }
      
      .image-container img {
        width: 1050px; 
        height: 600px; 
        object-fit: cover; 
      }
      /* Align related items to the left */
      aside {
      margin-top: top;
      background-color: var(--bg-color);
      flex-direction: row;
      color: var(--bg-color-dark);
     
     }  
       /* Align footer items to the right */      
      .foot {
        margin-top: auto;
        background-color: var(--bg-color);
        flex-direction: row;
        color: var(--bg-color-dark);
    }