
:root 
{
                    --base-font-color:         #00171F;     
                    --secondary-font-color:    #222A68;
                    --emphasised-font:         #654597;
                    --c-background-color:      #ffffff;
                    --c-dark-color:            #072833; 
                    --c-orange:                rgb(203, 75, 22);
                    --c-red:                   rgb(220, 50, 47);
                    --c-magenta:               rgb(211, 54, 130);
                    --c-violet:                rgb(108, 113, 196);
                    --c-blue:                  rgb(38, 139, 210);
                    --c-cyan:                  rgb(42, 161, 152);
                    --c-green:                 rgb(133, 153, 0);
                           }
      .dark-theme{
            --c-background-color:      #ffffff;
            --c-dark-color:            #072833; 
      }

         
         body {
          background-color: var(--c-background-color);
          height:100%;
          margin: 0;
          max-width: 800px; 
          font-family: monospace;
         }
      #icon{
            display: flex;
            width:30px;
            cursor: pointer;
      }                  
         header{
         background-color: var(--c-background-color);
         color: var(---c-dark-color);
         }
                           
         main {
           flex:1;
         color: var(--c-dark-color);
           }
         
         a {
            color: var(--c-magenta);
          }
                           
         a:hover {
            color: var(--c-orange); 
          }
                           
                           
         h1 {
                text-align: center;
                font-size: 150%;
                color: var(--c-dark-color);
               }
         h2,h3 {
                  font-weight:bold;           
         }
         section{
            border: 3px solid var(--c-cyan);
            padding-top: 50px;
            padding: 10px;
         }
                   
         nav ul {
                  color: var(--c-dark-color);
                  display: flex;
                  justify-content: center;
                  padding: 0;
         }
                           
         nav li {
                color: var(--c-dark-color);
                margin: 0 20px; 
                           }
                           
         nav a {
                text-decoration: none;
                color: var(--c-violet);
         }
                           
         nav a:hover {
                 color: var(--c-orange);
         }
                           
         atricle {
          display:flex;
         }
         article > section {
            flex:1;
         }
         
         .related-links {
           flex-basis: 30%;
           padding-left:20px;
         
         }
         .main-content{
              overflow:hidden;
         }
         article {
               float:center;
               width:60%
         }
         aside {
               float:right;
               width:30%
         }
                           
         aside {
           color: var(--c-green);
               }
                        
         aside a {
               color: var(--secondary-font-color);
              }
                        
         aside a:hover {
               color: var(--c-blue);
                }
         article h2,
         article h3{
                padding-top: 50px;               
         }
         
         .foot {
               display: flex;
               background-color: var(--c-background-highlights);
               flex-direction: column;
               float: left;
               color: var(--c-dark-color);
               
               
                             
         }
         
       
         
                           