h1,
h2,
p {
  padding: 0;
  margin: 0;
  font: 1em/1.33 Verdana, sans-serif;
}

h1,
h2 {
  color: red;
  margin: 10pt 0 2pt 0;
  margin: 0.83em 0 0.17em 0;
}

h1 {
  font-size: 1.33em;
}
h2 {
  font-size: 1.17em;
}
p {
  margin: 0, 0, 0.5em 0;
  text-indent: 5em;
}
p:first-of-type {
  font-size: 0.17em;
  line-height: 1.33;
  font-family: Verdana, sans-serif;
}
p.first {
  text-indent: 0em;
}
p + p {
  text-indent: 5em;
}
/* this selects p tags preceded by a p tag --
that is, not the first p tag */

@media screen {  
  body {  
    color: black;  
    ;background-color: yellow;  
  }  
}

@media print {  
  body {  
    color: black;  
    background-color: white;  
  }
}


@media screen, print, projector {  
  body {  
    color: black;  
    background-color: yellow;  
  }  
}
@import "styles.css" print, screen;  
@import url("styles.css") tty;